*{
	margin: 0;
	padding: 0;
	font-family: Optima;
}
header{
	background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(38,105,86,1));
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.title h1{

	color: #2E8B57;
	font-size: 70px;
}
ul {
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: nonse;
	color: #2E8B57;
	padding: 5px 20px;
	border: 2px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #2E8B57;
	color: rgb(120, 182, 120);
}

ul li.active a {
	background-color: #2E8B57;
	color: rgb(120, 182, 120);
}
.logo img{
	float: left;
	width: 150px
	height: auto;
}